{% extends base_template %}

{% block title %}Associate with your account?{% endblock %}

{% block content %}
<h1>Associate with your account?</h1>

<p>Do you wish to associate <strong>{{ specific_openid }}</strong> with your account? This will allow you to sign in as <strong>{{ user }}</strong> using that OpenID.</p>

<form action="{{ action }}" method="post">
<p>
    <input type="hidden" name="openid_token" value="{{ openid_token }}">
{% if next %}    <input type="hidden" name="next" value="{{ next }}">
{% endif %}    <input type="submit" value="Associate">
</p>
</form>
{% endblock %}
