<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}Sign in with your OpenID{% endblock %}</title>
<style type="text/css">
body {
    margin: 2em;
    font-family: georgia;
}
h1, h2 {
    border-bottom: 1px solid #666;
    padding-bottom: 0.2em;
}
ul.errorlist {
    margin: 0;
    padding: 0.2em 0.4em;
    background-color: red;
    color: white;
    list-style-type: none;
}
</style>
{% block extra_head %}{% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
