{% extends base_template %}

{% block title %}Log in with your OpenID{% endblock %}

{% block extra_head %}
<style type="text/css">
input.openid {
  background: url({{ logo }}) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
  width: 20em;
}
</style>
{% endblock %}

{% block content %}
<h1>Log in</h1>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<h2>With your username and password</h2>

<form action="{{ action }}" method="post">
<p>
    <input type="text" name="username">
    <input type="password" name="password">
{% if next %}    <input type="hidden" name="next" value="{{ next }}">
{% endif %}    <input type="submit" value="Log in">
</p>
</form>

<h2>Or with your OpenID</h2>
<form action="{{ action }}" method="post">
<p>
    <input class="openid" type="text" name="openid_url">
{% if next %}    <input type="hidden" name="next" value="{{ next }}">
{% endif %}    <input type="submit" value="Log in with OpenID">
</p>
</form>

{% if account_recovery %}
<p>Lost your password or can't log in with OpenID? <a href="{{ account_recovery }}">Recover your account</a>.</p>
{% endif %}

{% endblock %}
