{% extends base_template %}

{% block title %}Log in with your OpenID{% endblock %}

{% block extra_head %}
<style type="text/css">
input.openid {
  background: url({{ logo }}) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
  width: 20em;
}
</style>
{% endblock %}

{% block content %}
<h1>Log in with your OpenID</h1>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="{{ action }}" method="post">
<p>
    <input class="openid" type="text" name="openid_url">
{% if next %}    <input type="hidden" name="next" value="{{ next }}">
{% endif %}    <input type="submit" value="Sign in">
</p>
</form>
{% endblock %}
